<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Budget</title>

    <!-- Stylesheet files. -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Custom stylesheet. -->
    <style>
        .container-fluid {
            padding: 1rem 5%;
        }

        .banner {
            font-size: 2em;
            color: royalblue;
            font-weight: bold;
        }

        section {
            border: 1px #999999 solid;
            border-radius: 0.5em;
            padding: 1em;
            margin-bottom: 1em;
        }

        .section-title {
            font-size: 1.25em;
            font-weight: bold;
            margin-bottom: 0.5em;
        }

        .section-title > i {
            margin-right: 0.25em;
        }

        .remaining-positive {
            color: green;
        }

        .remaining-zero {
            color: gray;
        }

        .remaining-negative {
            color: red;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="alert alert-secondary banner">
        <i class="fa-solid fa-dollar-sign"></i>
        <span>Super Budget</span>
    </div>

    <div>
        <div th:if="${message != null}" class="alert alert-success" role="alert" th:text="${message}">
            The success message is displayed here.
        </div>
        <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert" th:text="${errorMessage}">
            The error message is displayed here.
        </div>
    </div>

    <!-- Add New Transactions section. -->
    <section>
        <div class="section-title">
            <i class="fa-solid fa-money-bill-transfer"></i>
            <span>Add New Transaction</span>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Payee" id="inputAddTransactionPayee">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Category" id="inputAddTransactionCategory">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Amount" id="inputAddTransactionAmount">
            </div>
            <div class="col">
                <button class="btn btn-primary add-transaction-button">Add Transaction</button>
            </div>
        </div>
    </section>

    <!-- Add/Update Budget Categories section. -->
    <section>
        <div class="section-title">
            <i class="fa-solid fa-tag"></i>
            <span>Add/Update Budget Categories</span>
        </div>

        <div class="row">
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Category" id="inputAddCategoryCategory">
            </div>
            <div class="col-3">
                <input type="text" class="form-control" placeholder="Amount allocated"
                       id="inputAddCategoryAmountAllocated">
            </div>
            <div class="col-3">
                <button class="btn btn-primary add-update-category-button">Add/Update Budget Category</button>
            </div>
        </div>
    </section>

    <!-- Current Monthly Budget section. -->
    <section>
        <div class="section-title">
            <i class="fa-solid fa-wallet"></i>
            <span>Current Monthly Budget</span>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Category</th>
                <th>Assigned</th>
                <th>Activity</th>
                <th>Remaining</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="budgetDto : ${budgetDtoList}">
                <td th:text="${budgetDto.getCategory()}"></td>
                <td th:text="${budgetDto.getAssigned()}"></td>
                <td th:text="${budgetDto.getActivity()}"></td>
                <td th:with="remaining = ${budgetDto.getRemaining()}">
                    <span th:if="${remaining > 0}" th:text="${remaining}" class="remaining-positive"></span>
                    <span th:if="${remaining == 0}" th:text="${remaining}" class="remaining-zero"></span>
                    <span th:if="${remaining < 0}" th:text="${remaining}" class="remaining-negative"></span>
                </td>
                <td>
                    <span style="display: none;" th:text="${budgetDto.getCategoryId()}"></span>
                    <button class="btn btn-danger category-delete-button">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    <!-- Recent Transaction section. -->
    <section>
        <div class="section-title">
            <i class="fa-solid fa-list-ul"></i>
            <span>Recent Transactions</span>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Payee</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transactionDto : ${transactionDtoList}">
                <td th:text="${transactionDto.getPayee()}"></td>
                <td th:text="${transactionDto.getCategory()}"></td>
                <td th:text="${transactionDto.getAmount()}"></td>
                <td>
                    <span style="display: none;" th:text="${transactionDto.getId()}"></span>
                    <button class="btn btn-danger transaction-delete-button">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>

<!-- Bootstrap script files. -->
<script src="../static/js/bootstrap.bundle.js"></script>
<script src="../static/js/jquery-3.6.4.min.js"></script>

<!-- Custom script. -->
<script>
    let redirecting = false;

    /**
     * Make the window redirect to the specified url.
     * @param url the url to redirect.
     */
    function redirect(url) {
        // To avoid throttles.
        if (redirecting === true) return;
        redirecting = true;

        console.log("http://" + window.location.host + url)
        window.location.href = "http://" + window.location.host + url;
    }

    $(".add-transaction-button").on("click", function () {
        const payee = $("#inputAddTransactionPayee").val();
        const category = $("#inputAddTransactionCategory").val();
        const amount = $("#inputAddTransactionAmount").val();

        redirect(`/add_transaction?payee=${payee}&category=${category}&amount=${amount}`)
    })

    $(".add-update-category-button").on("click", function () {
        const category = $("#inputAddCategoryCategory").val();
        const amountAllocated = $("#inputAddCategoryAmountAllocated").val();

        redirect(`/add_budget_category?category=${category}&allocated=${amountAllocated}`)
    })

    $(".category-delete-button").on("click", function () {
        const categoryIdSibling = $(this).siblings()[0]
        const categoryId = $(categoryIdSibling).html();

        redirect(`/delete_category?id=${categoryId}`)
    })

    $(".transaction-delete-button").on("click", function () {
        const categoryIdSibling = $(this).siblings()[0]
        const transactionId = $(categoryIdSibling).html();

        redirect(`/delete_transaction?id=${transactionId}`)
    })
</script>
</body>
</html>